* {
    font-family: sans-serif;
    background-color: lightpink;
}

.flexbox{
    display: flex;
    margin-top: 30px;
    margin-left: 380px;
}

.grid-select-size-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-slider{
    margin-top: 30px;
    width: 250px;
    accent-color: red;
}

.background-div,
.color-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:first baseline;
}

.background-div > p,
.color-div > p{
    display: inline;
    padding: 20px;
    font-weight: 600;
}


.background-color-picker,
.color-picker{
    width: 65px;
    height: 65px;
    border: none;
}

.buttons-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin-top: 30px;
    margin-left: 100px;
}
.slider-label{
    font-weight: 600;
    font-size: 20px;
}

.buttons-div > button {
    padding: 20px 50px;
    margin-top: 20px;
    border-radius: 16px;
    border: solid 2px black;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

h1{
    margin-top: 10px;
    color: rgb(100, 3, 100);
    text-align: center;
    margin-bottom: 0;
    font-size: 60px;
}

.sketch-grid{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    /* background-color: aqua; */
}

.square {
    flex: 1;
    display: inline-block;
    background-color: white;
    border: black solid 0.1px;
}

.rows-grid{
    /* display: block; */
    /* border: solid black 2px; */
    display: flex;
    flex: 1;
}

.select-size-button{
    margin-left: 230px;
    margin-top: 25px;
    background-color: blue;
    color: white;
    font-size: large;
    padding: 10px 30px;
    font-weight: 600;
    border: solid black 1px;
    border-radius: 30px;
}

.eraser {
    background-color: white;
}

.color-button {
    background-color: #ff00ff;
}

.random-color-button {
    background:linear-gradient(90deg, Red, Orange, Yellow, Green, Blue, Indigo,violet);
    background-color: red;
}

.gradient-button {
    background: linear-gradient(90deg, black, #333333, #666666, #999999, #bbbbbb, #ffffff);
    background-color: #999999;
    color: white;
}

.gradient-1 {
    /* background-color: #bbbbbb; */
    filter: brightness(0.9);
}

.gradient-2{
    /* background-color: #999999; */
    filter: brightness(0.7);

}

.gradient-3{
    /* background-color: #666666; */
    filter: brightness(0.5);

}

.gradient-4{
    /* background-color: #333333; */
    filter: brightness(0.25);

}

.gradient-5{
    /* background-color: black; */
    filter: brightness(0.01);

}


